export(Breaking)
export(Estimation.Normal.GMM)
export(Estimation.PL.GMM)
export(Estimation.PL.MLE)
export(Estimation.RUM.MLE)
export(Estimation.RUM.MultiType.MLE)
export(Evaluation.AveragePrecision)
export(Evaluation.KendallTau)
export(Evaluation.LocationofWinner)
export(Evaluation.NDCG)
export(Evaluation.Precision.at.k)
export(Generate.Pairwise.Probabilities)
export(Generate.RUM.Parameters)
export(Generate.RUM.Ranks)
export(generateC)
export(Likelihood.PL)
export(Likelihood.RUM)
export(normalizeC)
export(PdfModel)
export(scores.to.order)
export(scramble)
export(turn_matrix_into_table)
export(visualize.MultiType)
